@import 'nib'

global-reset()

s-width  = 24px
s-height = 32px

body
  background-color #ccc

#menu.ui.inverted.menu
  margin-bottom 0
  border-radius 0

#container
  position relative
  width  23 * s-width
  //height 18 * s-height
  margin 0 auto
  #selector, #recentcolor
    cursor pointer
  #painter, #colorpicker
    cursor crosshair
  #selector
    background-color white
    position absolute
    top  0
    left 0
  #painter
    position absolute
    top  s-height
    left 0
  #previewer
    position absolute
    top   0
    right 0
  #colorpicker
    position absolute
    top   6 * s-height
    right 0
  #recentcolor
    background-color #16161d
    position absolute
    top   12 * s-height
    right 0
  #footer
    position absolute
    top 18 * s-height
    width  23 * s-width
    margin-top 0
    border-top-left-radius  0
    border-top-right-radius 0
    a
      color #ccc
      text-decoration none
      &:hover
        text-decoration underline
