doctype html
html
  head
    meta(charset="utf-8")
    title 人人有熊畫
    link(rel="stylesheet" type="text/css" href="./css/vendor.css")
    link(rel="stylesheet" type="text/css" href="./css/style.css")
  body
    #menu.ui.inverted.menu
      .item(href="https://github.com/caasi/hoehoekuma-painter") 人人有熊畫
      a.item(href="http://hoekuma.tumblr.com/")
        i.home.icon
        | 主站
      a.right.item(href="https://github.com/caasi/hoehoekuma-painter")
        i.github.icon
        | GitHub
    #container
      #selector
      #painter
      #previewer
      #colorpicker
      #recentcolor
      #footer.ui.inverted.segment
        p
          | 這個工具是設計來畫吼吼熊用的，詳情請參考
          a(href="http://hoekuma.tumblr.com/post/83184799929") 人人有話說，人人有熊畫
          | 。
    script(src="./js/vendor.js")
    script(src="./js/main.js")
