doctype html
html
  head
    meta(charset="utf-8")
    title jsl-seed
    link(rel="stylesheet" type="text/css" href="./css/vendor.css")
    link(rel="stylesheet" type="text/css" href="./css/style.css")
  body
    .ui.inverted.menu
      a.item
        i.home.icon
        | 人人有熊畫
    script(src="./js/vendor.js")
    script(src="./js/main.js")
